html{
    font-size: 62.5%; /** 1 rem equivale a 10 px **/
}
body{
    font-size: 1.6rem;
    line-height: 2;
}
/**Utilidades **/

/** fondos **/
.pag-ppal{
    background-image: url(../style/img/collage-peli.jpg);
    margin: 0 ;
}
.pag-sec{
    background-color: #333;
    margin: 0;
}
/** Header **/
.site-header{
    background-color: #013976;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 13rem;
    display: flex;
}
.cont-site-header{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/** Tabla **/
.menu{
    padding-top: 6rem;
    color: whitesmoke;
    width: 67.5rem;
    height: 10rem;
    margin: auto;
}
.menu td{   
    background-color: #013976;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    height: 8rem;
    width: 67rem;
    align-items: center;
    border-radius: 1.6rem;
    margin-bottom: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.7rem;
}
.menu th{
    background-color: #333;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    height: 8rem;
    width: 67rem;
    align-items: center;
    font-family: sans-serif;
    border-radius: 1.6rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}
.menu a{
    color: ghostwhite;
    text-align: center;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu a:hover{
    color: gold;
}
/** PeliculasFav **/

.pelis-contenido{
    margin-top: 2rem;
    margin-left: 2rem;
  
}
.pelis-contenido img{
    width: 100%;
    height: 35rem;
}
.pelis-contenido h2{
    margin-top: 0;
    color: whitesmoke;
}
.imagen{
    width: 26rem;
    float: left;
    margin-right: 2rem;
    border-radius: 20px;
}
.pelis-contenido p{
    color: white;
    margin-right: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.resena{
    color: whitesmoke;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pelis-contenido a:hover{
    color: gold;
}
.pelis-contenido a{
    text-decoration: none;
    color: honeydew;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.site-footer{
 background-color: #013976;
 height: 9rem;
 width: 100%;
 margin-top: 4rem;
}
.site-footer a{
    color: white; 
    text-decoration: none;
    float: right;
    font-size: x-large;
    margin-right: 6rem;
    margin-top: 2rem;
}
.site-footer p{
    margin-top: 2rem;
    color: honeydew;
    float: left;
}
.site-footer a:hover{
    color: gold;
}
